@import '~devicon/devicon.min.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(22, 19, 28);
  color: white;
  font-family: 'Roboto Mono';
  font-size: 16px;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  letter-spacing: 8px;
}

i, .iconeFont {
font-size: 25px;
color: white;
}

.backText {
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 600;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: rgba(160, 33, 160, 0.1);
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
