@import '~devicon/devicon.min.css';
@import './abstracts/mixins';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $background-color;
  color: white;
  font-family: 'Roboto Mono';
}

section {
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  letter-spacing: 8px;
}

.backText {
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 600;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: $backText-color;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .backText {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .backText {
    font-size: 40px;
  }
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}