#about {
   display: flex;
   height: 800px;
   align-items: center;
   .divText {
     position: relative;
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 55%;
     border-radius: 50px;
     border: 3px solid rgba(160, 33, 160, 0.2);
     padding: 50px;
     z-index: 1;

     &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid transparent; /* Bordure transparente par défaut */
      transition: border-color 0.3s ease;
      border-radius: 50px;
      pointer-events: none; /* Pour ne pas interférer avec les événements de la section */
    }
  
    &:hover:before {
      border-color: rgb(160, 33, 160); /* Applique une couleur rouge au survol */
      border-radius: 50px;
      filter: drop-shadow(0 0 10px rgb(160, 33, 160)); /* Effet de drop-shadow sur la pseudo-bordure */
    }
 
     h1 {
       margin-bottom: 70px;
     }
 
     p {
       width: 70%;
       text-align: justify;
     }
 
     .backText {
       top: 20%;
       left: 50%;
    }
   }
 }
 