.heroHeader {
  position: relative;
  width: 100%;
  height: 1050px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  /* Overlay avec dégradé */
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(
      to top,
      rgba(22, 19, 28, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  }
}