// Variables de couleurs
$primary-color: rgba(204, 21, 204, 0.7);
$secondary-color: rgba(123, 7, 123, 0.7);
$third-color: rgba(160, 33, 160, 0.2);
$backText-color: rgba(51, 18, 51, 0.7);
$background-color: rgb(22, 19, 28);