@import '../abstracts/mixins.scss';

.back-to-top {
   position: fixed;
   bottom: 50px;
   right: 5%;
   background-color: $third-color;
   color: $primary-color;

   border: none;
   padding: 20px;
   border-radius: 50%;
   cursor: pointer;
   z-index: 1000;
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
 
   &.visible {
     opacity: 1;
     transform: translateY(0);
   }
   
   &:hover {
      background-color: $primary-color;
      color: $background-color
   }
 }
 
 .back-to-top svg {
   width: 25px;
   height: auto;
 }
 

 @media (max-width: 550px) {
  .back-to-top {
    position: fixed;
    bottom: 25px;
  }
  
  .back-to-top svg {
    width: 20px;
  }
}